<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>主页</title>
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous"/>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>

<!--1.公共头部-->
<div th:insert="publicHeader"/>
<script th:src="@{/publicHeader.js}"></script>


<!--2.主体内容-->
<div class="container-fluid" id="app" style="margin-top: 180px;margin-bottom: 100px">

  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <p style="background-color: cornflowerblue ; color: white; font-size: 30px">图书销售排行榜</p>
      </div>
    </div>

    <div class="row">


      <div class="col-sm-6 col-md-4" v-for="(book,index) in topNineBook">
        <div class="thumbnail">
          <img v-bind:src="book.imgsrc" alt="..." class="col-sm-6 col-md-6">
          <div class="caption text-left">
            <p>排名:<span v-text="'第'+(index+1)"></span></p>
            <p>书名:<span v-text="book.name"></span></p>
            <p>价格:<span v-text="book.price"></span></p>
            <p>
              <a class="btn btn-primary" :href="'/book/singleBook?bookId=' + book.id">详情</a> &nbsp;&nbsp;&nbsp;&nbsp;
              <a class="btn btn-success" @click.prevent="addToCart(book.id)">加入购物车</a>
            </p>
          </div>
        </div>
      </div>


    </div>

  </div>


</div>

<script>

  console.log(".........index...........")

  new Vue({
    el: "#app"
    ,
    data: {
      topNineBook: []
    }
    ,
    methods: {
      initTopNineBook(){
        let _this = this;
        let url = "/book/topNine?topN=9";
        $.get(url,function (data) {
          console.log(data);
          _this.topNineBook = data;
        },"json")
      },
      addToCart(bookId){
        //判断是否登陆
        console.log(publicHeader._data.currentAccount);
        if (!publicHeader._data.currentAccount){
          alert("请先登陆！")
          location.href="/login.html"
        }

        //调用后端，添加购物车
        $.get("/mycart/add?bookId="+bookId,function (data) {
          console.log(data);
          if (data == "ok"){
            alert("添加购物车成功！")
          }else{
            alert("添加购物车失败！")
          }
        })
      }
    },
    created(){
      this.initTopNineBook();
    }

  });

</script>


<!--3.公共底部-->
<div th:insert="publicFooter"/>
<script th:src="@{/publicFooter.js}"></script>


</body>
</html>